body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(83, 27, 52);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  color: rgb(116, 185, 187);
  background-color: rgb(83, 27, 52);
  min-height: 100vh;
}

main a {
  text-decoration: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: rgb(80, 166, 97) !important;
  background-color: rgb(185, 1, 93) !important;
  box-shadow: 0 5px 10px #ccc;
}

.scroll-to-top:hover {
  color: rgb(18, 94, 32) !important;
  background-color: rgb(197, 86, 142) !important;
}

input[type="text"],
input[type="text"]:focus {
  color: rgb(22, 107, 38);
  background-color: rgb(235, 189, 231);
}

input[type="file"],
input[type="file"]:focus {
  color: rgb(22, 107, 38);
  background-color: rgb(235, 189, 231);
}

.album {
  background-color: rgb(99, 5, 68);
}

.album p {
  color: rgb(132, 202, 164);
  text-decoration: none;
}

.user-navigator {
  color: white !important;
  background-color: rgb(93, 17, 37) !important;
}

.user-navigator button:hover {
  background-color: rgb(163, 84, 137) !important;
}
